<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>
  {{- if .IsHome -}}
    {{- site.Title -}}
  {{- else -}}
    {{- printf "%s | %s" .Title site.Title -}}
  {{- end }}
</title>
{{- partialCached "head/icons.html" . }}
{{- partialCached "head/fonts.html" . }}
{{- partialCached "head/styles.html" . }}
{{- partialCached "head/scripts.html" . }}
